@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@500&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Space Grotesk", sans-serif;
}

.front-card {
  background: url("./images/bg-card-front.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 200px;
  width: 320px;
}

.back-card {
  background: url("./images/bg-card-back.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border-radius: 10px;
  height: 200px;
  width: 320px;
}

@media (min-width: 1024px) {
  .front-card,
  .back-card {
    height: 300px;
    width: 500px;
    border-radius: 20px;
  }
}
